/* Configuración principal */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    height: auto;
    /* width: 1500px; */
    width: 1900px;
    margin: 0 auto;
    /* background-color: red; */
}

.clear{
    clear: both;
}

/* Nav */

.nav{
    background-color: rgb(255, 72, 0);
    padding: 10px;
    font-size: 20px;
    /* border-bottom: 3px solid rgb(255, 187, 0); */
    border: none;
}

.nav ul{
    list-style: none;
    /* border: white 2px solid; */
    width: 700px;
    float: right;
}

.nav li{
    float: left;
    margin: 0 10px;
}

.nav .lista-item1{
    float: left;
    padding: 0px 20px;
}

.nav .lista-item2{
    float: right;
}

.nav .logo{
    float: left;
    font-size: 30px;
}

.nav .logo a{
    color: white;
}

.nav input[type="search"]{
    margin: 0px 40px;
    width: 500px;
    height: 25px;
    color: #4e4e4ed0;
    padding: 0px 10px;
    text-align: left;
}

.nav a{
    text-decoration: none;
    color: white;
}

/* Footer */

footer{
    margin-top: 100px;
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}

/* Artículos */

.articulo{
    background-color: white;
    border-bottom: 2px black solid;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 2%;
}

.articulo .img-articulo{
    border: 2px black solid;
}