/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
}

main{
    height: 1000px;
    width: 1350px;
    margin: 0 auto;
    background-color: #CBDFC9;
}

body{
    background-color: white;
}

.header{
    background-color: black;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 85px;
    padding: 5px 3%;
}

.header .logo{
    background-color: mediumorchid;
    height: auto;
    width: auto;
    text-align: center;
    padding: 2px;
}

.header .logo a{
    text-decoration: none;
    color: white;
}

.header .nav-links{
    list-style: none;
}

.header input{
    width: 50%;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: white;
    text-decoration: none;
}

.imgs{
    display: flex;
    justify-content: center;
    padding: 2% 20%;
}

.imgs img{
    height: 500px;
    width: 1000px;
    border: 10px black solid;
    border-radius: 5px;
} */

/* Configuración general */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 1900px;
    height: auto;
    margin: 0 auto;
}

/* Configuración nav */

.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 1%;
    height: 60px;
}

.nav .logo{
    font-size: 35px;
}

.nav #home{
    position: relative;
    right: 100px;
}

.nav .lista-items li{
    display: inline-block;
    padding: 0 15px 0 15px;
}

.nav li:hover{
    transform: scale(1.1);
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav input[type="search"]{
    width: 30%;
    height: 50%;
    position: relative;
    right: 80px;
    padding: 1%;
}

/* Articulos */

h2{
    text-align: center;
    font-size: 50px;
}

.articulos{
    margin: 0% 10% 0% 10%;
    border: 2px black solid;
    padding: 5%;
    height: 1000px;
    overflow:auto;
}

.articulos .articulo{
    text-align: center;
    border: 1px black solid;
    width: 20%;
    float: left;
    margin: 2%;
}

.articulos .articulo .img-articulo{
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    display: block;
}