/* Configuración principal */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    height: auto;
    width: 1500px;
    /* width: 1900px; */
    margin: 0 auto;
    /* background-color: red; */
}

.clear{
    clear: both;
}

/* Nav */

.nav{
    background-color: rgb(255, 72, 0);
    padding: 10px;
    font-size: 20px;
    /* border-bottom: 3px solid rgb(255, 187, 0); */
    border: none;
}

.nav ul{
    list-style: none;
    /* border: white 2px solid; */
    width: 700px;
    float: right;
}

.nav li{
    float: left;
    margin: 0 10px;
}

.nav .lista-item1{
    float: left;
    padding: 0px 20px;
}

.nav .lista-item2{
    float: right;
}

.nav .logo{
    float: left;
    font-size: 30px;
}

.nav .logo a{
    color: white;
}

.nav input[type="search"]{
    margin: 0px 40px;
    width: 500px;
    height: 25px;
    color: #4e4e4ed0;
    padding: 0px 10px;
    text-align: left;
}

.nav a{
    text-decoration: none;
    color: white;
}

/* Footer */

footer{
    margin-top: 100px;
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}

/* Detalle */

.detalle{
    background-color: white;
    padding: 2%;
    border: 2px black solid;
    margin: 5%;
    border-radius: 15px;
    height: 300px;
}

.img-articulo img{
    border: 1px black solid;
    float: left;
}

.info-articulo{
    display: block;
    margin: auto 25%;
}

.info-articulo h2{
    font-size: 50px;
    padding-bottom: 40px;
}

.info-articulo p{
    font-size: 20px;
    padding-bottom: 40px;
}

.descripcion{
    background-color: white;
    padding: 5%;
    border: 2px black solid;
    margin: auto 5%;
    border-radius: 15px;
}

.comprar{
    float: right;
    margin-right: 50px;
}