*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    width: 1900px;
    height: auto;
    margin: 0 auto;
}

/* Configuración nav */

.nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 1%;
    height: 60px;
}

.nav .logo{
    font-size: 35px;
}

.nav #home{
    position: relative;
    right: 100px;
}

.nav .lista-items li{
    display: inline-block;
    padding: 0 15px 0 15px;
}

.nav li:hover{
    transform: scale(1.1);
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav input[type="search"]{
    width: 30%;
    height: 50%;
    position: relative;
    right: 80px;
    padding: 1%;
}

.clear{
    clear: both;
}

/* Login */


.formulario{
    margin: 100px auto;
    width: 700px;
    background-color: white;
    border-radius: 10px;
    padding: 2% 5%;
    display: block;
    text-align: center;
    border: 2px grey solid;
}

.formulario h2{
    color: black;
    text-decoration: underline;
}

.formulario .datos{
    width: 100%;
    margin: 2% 0;
    border-radius: 10px;
    border: 1px grey solid;
    padding: 1% 1%;
}

.formulario input[type="submit"],input[type="reset"]{
    color: black;
    margin: auto;
    margin: 5% 4%;
}
