<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="/public/css/style-registro.css">
</head>
<body>
    <main>
        <header class="header">
            <div class="logo"><a href="/">LOGO</a></div>
            <input type="search">
            <nav>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="/login-proveedor">Login</a></li>
                </ul>
            </nav>
        </header>
        <div class="formulario">
            <h2>REGISTRO COMO PROVEEDOR</h2>
            <form class="form" action="/registro-p" method="post">
                <input class="datos" type="text" name="nombre" placeholder="Nombre de la empresa">
                <input class="datos" type="email" name="correo" placeholder="Correo">
                <input class="datos" type="password" name="contrasenia" placeholder="Contraseña">
                <input class="datos" type="tel" name="nit" placeholder="Nit de la empresa">
                <input class="datos" type="tel" name="telefono" placeholder="Teléfono">
                <input type="submit" name="enviar" id="enviar">
                <input type="reset" name="limpiar" id="limpiar">
            </form>
            <div class="link">
                <p>Registrarse como <a href="/registro-tendero">TENDERO</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </main>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro como Proveedor</title>
    <link rel="stylesheet" href="/public/css/style-login.css">
</head>
<body>
    <main>
        <header>
            <div class="nav">
                <div class="logo"><a href="">PROVEERTEN</a></div>
                <a href="/tienda">Tienda</a>
                <input type="search">
                <ul>
                    <li id="home"><a href="/">Inicio</a></li>
                </ul>
                <div class="lista-items">
                    <ul>
                        <li><a href="/login-interfaz">Ingresar</a></li>
                        <!-- <li><a href="/registro-tendero">Registrarse</a></li> -->
                    </ul>
                </div>
            </div>
        </header>
        <div class="formulario">
            <h2>REGISTRO COMO PROVEEDOR</h2>
            <form class="form" action="/registro-p" method="post">
                <input class="datos" type="text" name="nombre" placeholder="Nombre de la empresa">
                <input class="datos" type="email" name="correo" placeholder="Correo">
                <input class="datos" type="password" name="contrasenia" placeholder="Contraseña">
                <input class="datos" type="tel" name="telefono" placeholder="Teléfono">
                <input type="submit" name="enviar" id="enviar">
                <input type="reset" name="limpiar" id="limpiar">
            </form>
            <div class="link">
                <p>Registrarse como <a href="/registro-tendero">TENDERO</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </main>
</body>
</html>